## Ignore Visual Studio temporary files, build results, and
# Node.js dependencies
node_modules/

# Click-Once directory
publish/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache

# RIA/Silverlight projects
Generated_Code/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/